@import '../../../styles/utils.scss';

.menuItemGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;    
    color: $color-black2;
    text-decoration: none;
    
    img {
        margin-right: 8px;
    }

    p {
        text-decoration: none;
        text-transform: none;
        
    }
}
